extends layout

block content
  div.header
    h1 Facebook Stats:
  div.color
    script(src="/js/index.js", charset="utf-8")
    
      
    #status(align="center")
    #buttons(align="center")
      button#getstats(onclick='getStats()').btn.btn-primary.btn-lg.btn-block Get Stats
      button#login(onclick='login()').btn.btn-primary.btn-lg.btn-block Login
      button#logout(onclick='logout()').btn.btn-primary.btn-lg.btn-block Logout
      br
      .fb-like(data-share='true', data-width='450', data-show-faces='true')
  div.footer
    p.fname By avilano
